*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #1a1977b3;
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    height: auto;
    display: flex;
}
.home{
    width: 90px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10%;
    display: flex;
    min-width: 90px;
}
.home-img{
    width: 70px;
    display: block;
    margin: auto;
}
.home-back {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    text-align: center;
}
.home-link{
    height: 100%;
    width: 100%;
    
}
.home:hover{
    background-color:#0f4463;
}
.home:hover .home-back{
    color: #fff;
}
/*  */

  .header .container {
    height: 70px;
    display: flex;
    align-items: center;
  }
  .header__search {
    display: flex;
    width: 60%;
    color: #dadada;
    height: 50px;
    position: relative;
    
  }
  .header__search-control {
    display: flex;
    align-items: center;
  }
  .header__search-control i {
    font-size: 20px;
    color: #585361;
    margin-left: 10px;
    cursor: pointer;
  }
  .header__search-box {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    display: flex;
    padding: 0 15px;
    border-radius: 20px;
  }
  .header__search-box label {
    margin: 0;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-self: center;
  }
  .header__search-box input {
    border: none;
    outline: none;
    background: transparent;
    color: #ccc;
    caret-color: #fff;
    flex: 1;
    padding: 10px 0;
  }
  .header__search-box input::placeholder {
    color: #dadada;
  }
  .header-option{
    display: flex;
    width: 40%;
    margin: auto;
    min-width: 240px
  }
  .header__user,
  .header-setting{
    display:block;
    cursor: pointer;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
      position: relative;
    height: 50px;
    margin-left:15px ;
    
  }
  .header-setting{
    width: 50px;
  }
  .header__user{
      font-size: 1rem;
      width: 150px;
      z-index: 10;
  }
  .header-icon{
    font-size: 30px;
    line-height: 50px;
    padding-left: 8px;
  }
  .header__user-img{
    width: 38px;
    border-radius: 50%;
    padding-top: 7px;
    padding-left: 5px;
  }
  
  .header_user-name{
  display: inline-block;
  }
  .header__user-list {
    width: 140px;
    list-style: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #6a39af;
    /* padding: 12px 0; */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: none;
    
  }
  .header__user-list li {
    display: block;
    transition: all 200ms linear;
    margin-left: -40px;
  }
  .header__user-list li a {
    color: #000;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 15px;
    border-radius: 10px;
  }
  .header__user-list li :hover{
    transition: all 200ms linear;
    background-color: #FF5757;
    color: #fff;
  }
  
  .header__user:hover .header__user-list {
    display: block;
  }
  
  .header__user-item{
  
    color: #fff;
    font-weight: 600;
  }
/*  */
.infor-container{
    margin-top: 100px;
    min-width: 700px;
}
.infor{
    position: absolute;
    top: 140px;
    background-color:rgba(255, 255, 255, 0.5);
    height: 100vh;
    width: 100%;
}
.infor-table{
    width: 80%;
    margin: auto;
}
.infor-user1{
    font-weight: 500;
    font-size: 25px;
    min-width: 200px;

}
.infor-user{
    font-size: 30px;
    min-width: 480px;
}
/*  */
.btn{
    background-color: #eb3f5bb3;
    display: block;
    margin: auto;

}
.btn:hover{
    background-color: #FF5757;
}
/*  */
.update-infor{
    width: 500px;
    margin: auto;
    margin-top: 100px;

}
.form-group{
    background-color: #1a1717;
    width: 500px;
    height: 70px;
    margin: 1px;
}
.form-group label{
    padding-left: 10px;
    color: #fff;
    line-height: 70px;
    min-width: 120px;

}
.form-group input{
    min-width: 350px;
}